.header{
    &__nav-container{
        background-color: $eerie-black;
    }

    &__logo{
        width: 100px;
    }

    &__button{
        background-color: #222323;
    }

    &__a{
        color:$white;
        &:hover{
            color:$fuzzy-wuzzy;
        }
    }
}
